@media (max-width: 940px) {
    main .container {
        margin: 0 10px;
        text-align: center;
    } 
}


@media (max-width: 680px) {
    main .container .anime {
        text-align: center;
        grid-template-columns: 1fr;
        font-weight: 600;
    }
    main .container .anime .poster img {
        max-width: 240px;
    }
    main .container .sobre .tags {
        justify-content: center;
    }
}

@media (max-width: 640px) {
    main header {
        height: calc(70vh - 80px);
    }
}

@media (max-width: 424px) {
    main .container .names .cards .card {
        width: 294px!important;
    }

    main .container .names .cards .card img {
        height: 405px;
    }
}